{{define "title"}}Book Page{{end}} 
 {{define "body"}}
 
 <div class="top-menu">
 
 <div class="menu-item">
 Authors Index
 </div>
 
 <div class="menu-item">
Books By Rating
 </div>
 
 <div class="menu-item">
 Books by Year Published
 </div>
 
 <div class="menu-item">
Recently Read
 </div>
 
 </div>
 
 <div class="content-container"></div>

 <div class="book-entry">


<div class="large-cover-image">
    {{.MakeLinkedMediumCoverImageTag}}
    </div>

   <div>	
        <div class="citation book-title">
        <h3>{{.MainTitle}} </h3>
       </div>
       {{if gt (len .SubTitle) 0}}
           <div class="citation book-subtitle">
               <h4>{{.SubTitle}}</h4>
           </div>
       
       {{end}}
    
       <div class="citation book-author">
        <h4> {{.AuthorFullName}} </h4> 
       </div>

       <div> First published: </div>
   </div>
   

</div>
</div>
{{end}}
