{{define "title"}}Book Page{{end}} 
{{define "body"}} 

 <div class="content-container">

    <div class="book-list">
        <div class="book-item">
		<hr>

        <div class="large-cover-image">
            <div>  {{.MakeLinkedLargeCoverImageTag ".."}}</div>
        </div>

        <div>	
                <div class="citation book-title">
                <h1>{{.MainTitle}} </h1>
            </div>
            {{if gt (len .SubTitle) 0}}
                <div class="citation book-subtitle">
                    <h3>{{.SubTitle}}</h3>
                </div>
            
            {{end}}
            <div class="citation">
                <h4> BY <span class="book-author"> {{.AuthorFullName}}</span> </h4> 
                <h4>Pub Year {{.FormatPubDate}} </h4> 
            </div>	
            <div>rating: {{.DisplayRating}}</div>
            <p>
                {{.Review}}
            
            </p>
                
        </div>
    </div>
</div>
</div>
{{end}}
