 {{define "title"}}Groupped by Author{{end}} 
 {{define "body"}}
 
 <div class="top-menu">
 
	<div class="menu-item">
		<a href="index.html">Home</a>
		</div>
			
	<div class="menu-item">
	<a href="author_index.html"> Author Index</a>
	</div>

	<div class="menu-item">
		<a href="decades_index.html"> Decades Index</a>
		</div>
		
 <div class="menu-item">
 <a href="by_pub_date.html"> All Books by Publication Date</a>
 </div>
 
 
 </div>
 
 {{if eq (len .) 0}}
 Nothing to see here
 {{end}}
 <div class="content-container">

 <div class="book-list">
 {{range .}}
 <div class="book-item">
 
 <div class="medium-cover-image">
 <div>{{.MakeLinkedMediumCoverImageTag}}</div>
 
 </div>
<div>	
	<div class="citation book-title">
 	<h3>{{.MainTitle}} </h3>
	</div>
	{{if gt (len .SubTitle) 0}}
		<div class="citation book-subtitle">
			<h4>{{.SubTitle}}</h4>
		</div>
	
	{{end}}
 
	<div class="citation book-author">
	 <h4>by  {{.AuthorFullName}} -- published {{.FormatPubDate}} </h4> 
	</div>	
	<div>rating: {{.DisplayRating}}</div>
	<div>{{.BookPageLink }} </div>
	 
</div>
	
 </div> 
 {{end}}
 </div>
 
 </div>
 
 {{end}}
