 {{define "title"}}Books {{end}} 
 {{define "body"}}
 
 
 {{if eq (len .) 0}}
 Nothing to see here
 {{end}}
 <div class="content-container">
<div class="book-grid">
 
 {{range .}}
 <div class="book-box">
 
 <div class="medium-cover-image">
 {{.MakeLinkedMediumCoverImageTag}}
 </div>
<div>	
	<div class="citation book-title">
 	<h3>{{.MainTitle}} </h3>
	</div>
	{{if gt (len .SubTitle) 0}}
		<div class="citation book-subtitle">
			<h4>{{.SubTitle}}</h4>
		</div>
	
	{{end}}
 
	<div class="citation book-author">
	 <h4>by  {{.AuthorFullName}}  </h4> 
	 <h5> published  {{.FormatPubDate}}</h5>
	 <h4> rating: {{.FormatRating}}</h4>
	</div>
	
	
	
	<div>{{.BookPageLink}} </div>
</div>
	
 </div> 
 {{end}}
 </div>
</div> 

 
 {{end}}
