 {{define "title"}}Recently read{{end}} 
 {{define "body"}}

 <div class="top-menu">
 
     
     <div class="menu-item">
         <a href="index.html">Home</a>
         </div>
             
     <div class="menu-item">
     <a href="author_index.html"> Author Index</a>
     </div>
 
     <div class="menu-item">
         <a href="decades_index.html"> Decades Index</a>
         </div>
         
  <div class="menu-item">
  <a href="book_boxes_by_pub_date.html"> All Books by Publication Date (Grid)</a>
  </div>
 
  <div class="menu-item">
     <a href="book_list_by_pub_date.html"> All Books by Publication Date (List)</a>
     </div>
  
 </div>
 
  
 {{if eq (len .) 0}}
 No book listings available.
 {{end}}
 <div class="content-container">

    <div class="site-name">SF Worth Reading</div>
    <div class="article-text"><p style="text-align:center;"> A collection of worthwhile reads, and a few that aren't.</p>p></div>

<hr></hr>

 
    
<div class="list-name"> Recent Additions</div>

 <div class="book-list">
 {{range .}}
 <div class="book-item">
 
 <div class="medium-cover-image">
 <div>{{.MakeLinkedMediumCoverImageTag}}</div>
 
 </div>
<div>	
	<div class="citation book-title">
 	<h3>{{.MainTitle}} </h3>
	</div>
	{{if gt (len .SubTitle) 0}}
		<div class="citation book-subtitle">
			<h4>{{.SubTitle}}</h4>
		</div>
	
	{{end}}
 
	<div class="citation book-author">
	 <h4>by  {{.AuthorFullName}} -- published {{.FormatPubDate}} </h4> 
	</div>	
	<div>rating: {{.DisplayRating}}</div>
    <p>
	<div    >{{.BookPageLink }} </div>
    </p>
	 
</div>
	
 </div> 
 {{end}}
 </div>
 
 </div>
 
 {{end}}
