 {{define "title"}}Recently read{{end}} 
 {{define "body"}}


  
 {{if eq (len .) 0}}
 No book listings available.
 {{end}}
 <div class="content-container">

    <div class="site-name">SF Worth Reading</div>
    <div class="article-text"><p style="text-align:center;"> A collection of worthwhile reads, and a few that aren't.</p></div>

<hr></hr>
    
<div class="list-name"> Recent Additions</div>

 <div class="book-list">
 {{range .}}
 <hr>
 <div class="book-item">
 
  <div class="medium-cover-image">
 <div>{{.MakeLinkedMediumCoverImageTag "."}}</div>
 
 </div>

 
<div class="book-info">	

	<div class="citation book-title">
 	<h3>{{.MainTitle}} </h3>
	</div>
	{{if gt (len .SubTitle) 0}}
		<div class="citation book-subtitle">
			<h4>{{.SubTitle}}</h4>
		</div>
	
	{{end}}
 
	<div class="citation">
	 <h4>BY <span class="citation book-author"> {{.AuthorFullName}}</span> - Pub Year {{.FormatPubDate}} </h4> 
	</div>	
    <div>rating: {{.DisplayRating}}</div>	 
</div>
<div> <p>   {{.BookPageLink }} </p></div>
	
 </div> 
 {{end}}
 </div>
 
 </div>
 
 {{end}}
